<ion-header no-border>
  <ion-navbar>
    <ion-title>
      MyStrim
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen padding class="card-background-page">
  <div class="main-content">
    <ion-slides class="slide" pager="true" >
      <ion-slide>
        <ion-card>
          <div class='music-card playing'>  
            <img src="assets/imgs/mozbi.jpg">
          </div>
        </ion-card>
      </ion-slide>
      <ion-slide>
          <ion-card>
              <div class='music-card playing'>  
                <img src="assets/imgs/mozbi.jpg">
              </div>
            </ion-card>
      </ion-slide>
      <ion-slide>
          <ion-card>
              <div class='music-card playing'>  
                <img src="assets/imgs/mozbi.jpg">
              </div>
            </ion-card>
      </ion-slide>
    </ion-slides>
   
        <h2 class="with-button">Decouvez les nouveautés des artistes mauritaniens</h2>
        <ion-slides card-slides slidesPerView="2.18s" spaceBetween="10" class="card-background-page">
            <ng-container *ngFor="let file of files; let i = index">
          <ion-slide  (click)="openFile(file, i)">
            <ion-card  class="music-card palying">
            <div class='music-card playing'>     
              <img src="assets/imgs/Folder.jpg">
               <div class="card-title">{{ file.name }}</div>
                     
                <div *ngIf="currentFile.index === i" class='wave'></div>
                <div *ngIf="currentFile.index === i" class='wave'></div>
                <div *ngIf="currentFile.index === i" class='wave'></div>
              </div>
            </ion-card>
          </ion-slide>
        </ng-container>
          <!-- <ion-slide>
            <ion-card class="card2">
              <img src="assets/imgs/el_general.jpg">
              <div class="card-title">Hip hop</div>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <img class="card1" src="assets/imgs/taleb.jpeg">
              <div class="card-title">Reggae</div>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card class="card1">
              <img src="assets/imgs/tonia.jpg">
              <div class="card-title">Hits</div>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card class="card1">
              <img src="assets/imgs/adviser2.png">
              <div class="card-title">Variétés</div>
            </ion-card>
          </ion-slide> -->
        </ion-slides>

    <h2> <strong>Parcourir</strong></h2>
     <p>Explorez tous les styles et tous ambiances</p>
    <ion-slides card-slides slidesPerView="2.18" spaceBetween="2">
    <ion-slide>
      <ion-card (click)="getDocuments()">
          <div class='music-card playing'>
            <img src="assets/imgs/beats_logo.png"/>
            <div class="card-title">Teaser</div>
          </div>
      </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card (click)="getDocuments()">
            <div class='music-card playing'>
              <img src="assets/imgs/beats_logo.png"/>
              <div class="card-title">Teaser</div>
            </div>
        </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card (click)="getDocuments()">
            <div class='music-card playing'>
              <img src="assets/imgs/beats_logo.png"/>
              <div class="card-title">Teaser</div>
            </div>
        </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card (click)="getDocuments()">
            <div class='music-card playing'>
              <img src="assets/imgs/beats_logo.png"/>
              <div class="card-title">Teaser</div>
            </div>
        </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card (click)="getDocuments()">
            <div class='music-card playing'>
              <img src="assets/imgs/beats_logo.png"/>
              <div class="card-title">Teaser</div>
            </div>
        </ion-card>
    </ion-slide>
  </ion-slides>

    <h2> <strong>Actualités</strong></h2>
     <p>Suivez les actualités de vos artistes préférés</p>
    <ion-slides card-slides slidesPerView="2.18" spaceBetween="2">
      <ion-slide>   
        <ion-card (click)="nowPlaying()">
          <div class='music-card playing'>
            <img src="assets/imgs/beats_logo.png"/>
            <div class="card-title">Top hits</div>
          </div>
        </ion-card>
      </ion-slide>
      <ion-slide>
          <ion-card (click)="nowPlaying()">
              <div class='music-card playing'>
                <img src="assets/imgs/beats_logo.png"/>
                <div class="card-title">Top hits</div>
              </div>
            </ion-card>
      </ion-slide>
      <ion-slide>
          <ion-card (click)="nowPlaying()">
              <div class='music-card playing'>
                <img src="assets/imgs/beats_logo.png"/>
                <div class="card-title">Top hits</div>
              </div>
            </ion-card>
      </ion-slide>
      <ion-slide>
          <ion-card (click)="nowPlaying()">
              <div class='music-card playing'>
                <img src="assets/imgs/beats_logo.png"/>
                <div class="card-title">Top hits</div>
              </div>
            </ion-card>
      </ion-slide>
      <ion-slide>
          <ion-card (click)="nowPlaying()">
              <div class='music-card playing'>
                <img src="assets/imgs/beats_logo.png"/>
                <div class="card-title">Top hits</div>
              </div>
            </ion-card>
      </ion-slide>
    </ion-slides>

    <h2> <strong>Ecouter la bande son de votre choix</strong></h2>
    <p>Decouvrez la playlist en streaming</p>
    <ion-slides card-slides slidesPerView="2.18" spaceBetween="2">
      <ion-slide>
          <ion-card (click)="nowPlaying()">
              <div class='music-card playing'>
                <img src="assets/imgs/beats_logo.png"/>
                <div class="card-title">Top hits</div>
              </div>
            </ion-card>
      </ion-slide>
      <ion-slide>
          <ion-card (click)="nowPlaying()">
              <div class='music-card playing'>
                <img src="assets/imgs/beats_logo.png"/>
                <div class="card-title">Top hits</div>
              </div>
            </ion-card>
      </ion-slide>
      <ion-slide>
          <ion-card (click)="nowPlaying()">
              <div class='music-card playing'>
                <img src="assets/imgs/beats_logo.png"/>
                <div class="card-title">Top hits</div>
              </div>
            </ion-card>
      </ion-slide>
      <ion-slide>
          <ion-card (click)="nowPlaying()">
              <div class='music-card playing'>
                <img src="assets/imgs/beats_logo.png"/>
                <div class="card-title">Top hits</div>
              </div>
            </ion-card>
      </ion-slide>
      <ion-slide>
          <ion-card (click)="nowPlaying()">
              <div class='music-card playing'>
                <img src="assets/imgs/beats_logo.png"/>
                <div class="card-title">Top hits</div>
              </div>
            </ion-card>
      </ion-slide>
    </ion-slides>

  <p *ngIf="auth.loading" text-center>Loading...</p>

  <ion-list>
    <ng-container *ngFor="let file of files; let i = index">
      <ion-item class="item item-thumbnail-left" menu-closes text-wrap (click)="openFile(file, i)">
        <ion-grid>
          <ion-row>
            <ion-col width-25>
          <img class="thumb" src="assets/imgs/cover.jpg">
            </ion-col>
            <ion-col style="color: white">
              {{ file.name }}
              <h4><i>Culture II</i></h4>
            </ion-col>
            <ion-col text-right>
              <p item-end *ngIf="currentFile.index === i"></p>
              <ion-icon item-end color="light" name="play" *ngIf="currentFile.index === i"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>
    </ng-container>
  </ion-list>

  </div>
</ion-content>
<ion-footer  *ngIf="currentFile.file || true"  [@showHide]="displayFooter">
  <ion-toolbar color="secondary">
    <ion-range min="1" color="dark" [max]="state.durationSec" [formControl]="seekbar" (ionFocus)="onSeekStart()" (ionBlur)="onSeekEnd($event)"
               name="seekbar">
      <ion-label color="light" range-left>{{ state.time }}</ion-label>
      <ion-label color="light" range-right>{{ state.duration }}</ion-label>
    </ion-range>
  </ion-toolbar>
  <ion-toolbar color="light" padding>
    <ion-grid>
      <ion-row align-items-center id="media-controls">
        <!--<button clear ion-col ion-button (click)="previous()">-->
          <!--<ion-icon class="icon ion-shuffle" color="light" name="shuffle"> </ion-icon>-->
        <!--</button>-->
        <button clear ion-col ion-button (click)="previous()">
          <!--<ion-icon color="light" name="skip-backward"> </ion-icon>-->
          <img class="thumb" width="36px" src="assets/icon/previous.svg">
        </button>
        <button clear ion-col ion-button *ngIf="!state.playing" (click)="play()">
          <!--<ion-icon color="light" name="play"></ion-icon>-->
          <img class="thumb" width="36px" src="assets/icon/play.svg">
        </button>
        <button clear ion-col ion-button *ngIf="!!state.playing" (click)="pause()">
          <!--<ion-icon color="light" name="pause"></ion-icon>-->
          <img class="thumb" width="36px" src="assets/icon/pause.svg">
        </button>
        <button clear ion-col ion-button (click)="next()">
          <!--<ion-icon color="light" name="skip-forward"></ion-icon>-->
          <img class="thumb" width="36px" src="assets/icon/next.svg">
        </button>
        <!--<button clear ion-col ion-button (click)="onFinishedPlay()">-->
          <!--<ion-icon class="icon ion-sync" color="light" name="sync"></ion-icon>-->
        <!--</button>-->
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
